@import './Variables.scss';

#experiences {
  .see-more-statement {
    color: grey;
    font-size: 18px;
  }
  button {
    margin: 0 10px;
  }
  a {
    color: $brand-primary-color;
    font-size: 20px;
    margin-left: 20px;
  }
  a:hover {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid $brand-primary-color;
  }
  .experience-card {
    text-align: left;
    border: 1px solid rgba(220,224,244,0.4);
    background: #fff;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px 10px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      box-shadow: 3px 2px 5px $brand-primary-color, 3px 2px 10px $brand-secondary-color;
    }
    .bold {
      font-weight: bold;
    }
    p {
      margin: 0;
    }
    .row {
      align-items: flex-start;
      justify-content: flex-end;
    }
    .experience-info {
      text-align: right;
    }
    .experience-title {
      font-weight: bolder;
      font-size: 18px;
    }
    .experience-details {
      color: rgba(0,0,0,0.8);
    }
    .experience-summary {
      font-style: italic;
      margin-bottom: 15px;
    }
  }
  @media (min-width: 992px) {
    .experience-details {
      padding-left: 25px;
      border-left: 2px solid $brand-primary-color;
    }
  }
  @media (max-width: 991px) {
    .experience-info {
      border-bottom: 2px solid $brand-primary-color;
      padding: 10px 0;
      margin: 0 30px 10px 30px;
    }
    .experience-details {
      padding: 10px 40px;
    }
  }
}