@import 'Variables';
@import 'HelperMethods';

section#stats {
  color: #fff;
  font-weight: bold;
  padding: 50px 0;
  margin-left: 100px;
  @include resize(992px, 1199px) {
    margin-left: 80px;
  }
  @include resize(null, 991px) {
    margin-left: 0;
  }
  @include resize(null, 767px) {
    padding-bottom: 0;
  }
  h3 {
    border-bottom: 1px solid #c980a3;
    padding-bottom: 40px;
    font-style: italic;
  }
  .count-up {
    padding: 50px 0;
    text-align: center;
    // border-right: 1px solid #c980a3;
    @include resize(768px, 1199px) {
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 50px;
      }
    }
    @include resize(null, 767px) {
      border-bottom: 1px solid #c980a3;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  p {
    color: #c980a3;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 15px;
  }
}
