$brand-primary-color: #08FDD8;
$brand-secondary-color: #FF4B4B;
$brand-tertiary-color: #FFCC00;
$background-primary-dark: #1D1D1D;
$background-secondary-dark: #252525;
$background-tertiary-dark: #333;
$background-primary-grey: #6C757D;
$background-primary-light: #FAE8C8;
$heading-primary-font: Georgia;
$heading-secondary-font: serif;
